<style>
    body {
        background: url('public/img/bg_clean.jpg') fixed;
        background-repeat: no-repeat;
        background-size: cover;
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='public/img/bg_clean.jpg', sizingMethod='scale');
        -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='public/img/bg_clean', sizingMethod='scale');
    }

    @media (max-width: 480px) {
        body {}
    }
</style>

<div class="container">
    <h1 style="font-weight: bold; color: #d6d9d9">Currency Converter</h1>
    <br /><br /><br />

    <div class="row center">
        <div class="col-md-4 ">
            <div>
                <select style="height: 50px" class="custom-select col-md-12 col-md-offset-2" id="cotacao1">
                    <option value="{{k1}}">{{m1}}</option>
                    {{#each moedas.xml}}
                    <option value="{{@key}}">{{_text}}</option>
                    {{/each}}
                </select>
            </div>
            <div>
                <input class="form-control col-md-12 col-md-offset-2" type="number" id="inputBox"
                    placeholder="Digite um valor a ser convertido">
            </div>
        </div>
        <div class="col-sm-1 ">
            <a class="div-svg" onclick="reverser()" style="cursor: pointer;">
                <img class="svg" src="public/img/reverter.svg">
            </a>
        </div>
        <div class="col-md-4">
            <div>
                <select style="height: 50px" class="custom-select col-md-12 col-md-offset-2" id="cotacao2">
                    <option value="{{k2}}">{{m2}}</option>
                    {{#each moedas.xml}}
                    <option value="{{@key}}">{{_text}}</option>
                    {{/each}}
                </select>
            </div>
            <div>
                <input class="form-control col-md-12 col-md-offset-2" type="text" id="inputBox2" readonly>
            </div>
        </div>
        <div class="col-md-3 g-4"><button class="try" style="color: inherit; font-weight: bold"
                onclick="redirecionar()">CONVERT</button></div>
    </div>
    <br>
    <div class="center ">
        <div class="">
            <div class="">
                {{#if dados.status}}
                <h1 style="color: #d6d9d9">Cotação indisponível</h1>
                {{else}}
                {{#each dados}}
                <h1 style="color: #d6d9d9;">Cotação</h1>
                <p style="white-space: pre-line; color: #d6d9d9">Moeda: {{name}}
                    Cotação: {{bid}}
                    Variação: {{varBid}}
                    Dia: {{create_date}}</p>
                <br>
                <input type="text" id="mult" hidden value="{{bid}}">
                {{/each}}
                {{/if}}
            </div>
        </div>

        <div class="">
            <div class="">
                <div class="grafico">
                    <div class=""  id="chart">
                    </div>
                </div>
            </div>
        </div>
        </script>
    </div>
</div>

</div>

</div>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="/public/assets/js/jquery.js" type="text/javascript"></script>
<script>
    var mult = document.getElementById("mult")
    let inputBox = document.querySelector("#inputBox")
    document.getElementById("inputBox").value = 1
    inputBox.addEventListener("input", function () {
        document.getElementById("inputBox2").value = this.value * mult.value
    })

    $(document).ready(function () {
        asda()
    });

    function redirecionar() {

        var cot1 = document.getElementById("cotacao1");
        var cot2 = document.getElementById("cotacao2");
        var m1 = cot1.options[cot1.selectedIndex].text;
        var m2 = cot2.options[cot2.selectedIndex].text;
        var value1 = cot1.value;
        var value2 = cot2.value;

        document.location.href = "/currency" + value1 + "&" + value2 + "&" + m1 + "&" + m2;
    }

    function reverser() {
        var cot1 = document.getElementById("cotacao1");
        var cot2 = document.getElementById("cotacao2");
        var m1 = cot1.options[cot1.selectedIndex].text;
        var m2 = cot2.options[cot2.selectedIndex].text;
        var value1 = cot1.value;
        var value2 = cot2.value;

        document.location.href = "/currency" + value2 + "&" + value1 + "&" + m2 + "&" + m1;

    }


    function asda() {
        var datafinal = []
        var low = []
        var high = []

        var cot1 = document.getElementById("cotacao1");
        var cot2 = document.getElementById("cotacao2");
        var value1 = cot1.value;
        var value2 = cot2.value;

        $.ajax({
            url: "https://economia.awesomeapi.com.br/json/daily/" + value1 + "-" + value2 + "/15",
            method: 'GET',
            header: { 'Accept': 'application/json', 'Accept-Charset': 'utf-8' },
            success: function (result) {

                var historico = result



                $.each(historico, function (k, v) {
                    //for(var i = 1; i < historico.length; i++){}

                    //Pega variação mais baixa do dia
                    var hbaixo = historico[k].low
                    hbaixo = parseFloat(hbaixo)
                    low.push(hbaixo)

                    //Pega variação mais alta do dia
                    var halto = historico[k].high
                    halto = parseFloat(halto)
                    high.push(halto)

                    //Pega data do dia
                    var dateTS = historico[k].timestamp
                    var dateTSint = parseInt(dateTS) * 1000
                    var dataC = new Date(dateTSint)
                    var dateBR = dataC.toLocaleDateString("pt-BR")
                    datafinal.push(dateBR)
                });
                
                var options = {
                    states:{
                        hover: {
                            filter: {
                                type: 'lighten',
                                value: 0.15,
                            }
                        },
                        active: {
                            allowMultipleDataPointsSelection: false,
                            filter: {
                                type: 'darken',
                                value: 0.35,
                            }
                        }
                    },
                    series: [
                        {
                            name: "Alta",
                            data: high,
                        },
                        {
                            name: "Baixa",
                            data: low,
                            enabled: false
                        }
                    ],
                    colors: ['#F44336', '#E91E63', '#9C27B0'],
                    chart: {
                        foreColor: '#d6d9d9',
                        type: 'area',
                        stacked: false,
                        height: '100%',
                        zoom: {
                            type: 'x',
                            enabled: true,
                            autoScaleYaxis: true
                        },
                        toolbar: {
                            autoSelected: 'zoom'
                        }
                    },
                    dataLabels:{
                        style:{
                            
                        },
                        enabled: true
                    },
                    markers: {
                        size: 0
                    },
                    title: {
                        text: 'Histórico dos últimos 15 dias',
                        align: 'left'
                    },
                    fill: {
                        type: 'gradient',
                        gradient: {
                            shadeIntensity: 1,
                            inverseColors: false,
                            opacityFrom: 0.5,
                            opacityTo: 0,
                            stops: [0, 90, 100]
                        }
                    },
                    yaxis: {
                        title: {
                            text: 'preço'
                        }
                    },
                    xaxis: {
                        categories: datafinal,
                        type: 'date'
                    },
                    tooltip: {
                        custom: ({ dataPointIndex, w }) => {
                            let s = w.config.series[0].data[dataPointIndex];
                            return `<div class="apexcharts-tooltip-rangebar"><div>
                            <span class="category">${s.x}: </span>
                            <span class="value start-value">${s.y[0]}</span>
                            <span class="separator">-</span>
                            <span class="value end-value">${s.y[1]}</span></div></div>`;
                        }
                    },
                };

                var chart = new ApexCharts(document.querySelector("#chart"), options);
                chart.render(); 
            }
        });
    }

    // https://economia.awesomeapi.com.br/json/last/:moedas

</script>